.card-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 250px;
    align-items: center;
    margin-bottom: 30px;
    background-color: azure;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px #707070;
}

.card-container:hover{
    transform: scale(1.01);
}

.image-project{
    border-radius: 50px 50px 0px 0px;
    height: 150px;
    width: 290px;
}

.card-container-button{
    background-color: black;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
}

.card-content{
    text-align: justify;
    line-height: 2;
    height: 320px;
}

.card-button{
    text-decoration: none;
}