.header-container{
    background-color: black;
    margin-left: 0;
    margin-right: auto;
    height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-content{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    padding-top: 13;
}

.header-content:hover{
    color:grey;
}

@media (max-width: 5px){
    .header-container{
        display: block;
        height: 150px;
    }
}