.recommendation-person-container{
    display: flex;
    flex-direction: column;
}

.recommendation-container{
    padding-top: 20px;
    margin-top: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 550px){
    .recommendation-container{
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}
